# Ignore Python cache and virtual environment files
__pycache__/
*.pyc
*.pyo
.venv/
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore folder named "old"
Old/

